@page "/events/create"
@using SixLabors.ImageSharp.Processing

@inject NavigationManager NavigationManager
@inject CreateEventService CreateEventService


@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @errorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h3>Create Event</h3>

<EditForm Model="_eventViewModel" OnValidSubmit="CreateEvent">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" class="form-control" @bind-Value="_eventViewModel.Title"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Title)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="_eventViewModel.Description"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Description)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="BeginDate">Begin Date</label>
        <InputDate id="BeginDate" class="form-control" @bind-Value="_eventViewModel.BeginDate"></InputDate>
        <ValidationMessage For="@(() => _eventViewModel.BeginDate)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="BeginTime">Begin Time</label>
        <input type="time" id="BeginTime" class="form-control" @bind-value="_eventViewModel.BeginTime"></input>
        <ValidationMessage For="@(() => _eventViewModel.BeginTime)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <InputDate id="EndDate" class="form-control" @bind-Value="_eventViewModel.EndDate"></InputDate>
        <ValidationMessage For="@(() => _eventViewModel.EndDate)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="EndTime">End Time</label>
        <input type="time" id="EndTime" class="form-control" @bind-value="_eventViewModel.EndTime"></input>
        <ValidationMessage For="@(() => _eventViewModel.EndTime)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Location">Venue Address</label>
        <InputText id="Location" class="form-control" @bind-Value="_eventViewModel.Location"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Location)"></ValidationMessage>
    </div>

    <br />

    <div class="form-group">
        <label for="CoverImage">Cover Image</label>
        <InputFile id="CoverImage" class="form-control" OnChange="HandleImageUpload" accept=".png"></InputFile>
        <ValidationMessage For="@(() => _eventViewModel.CoverImage)"></ValidationMessage>
    </div>

    @if (!string.IsNullOrWhiteSpace(_eventViewModel.ImageUrl))
    {
        <div class="mt-3">
            <img src="@_eventViewModel.ImageUrl" alt="Cover Image Preview" class="img-thumbnail" style="max-width: 300px;" />
        </div>
    }

    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    &nbsp;
    <NavLink class="btn btn-secondary" href="/">Cancel</NavLink>
</EditForm>

@code {
    private EventViewModel _eventViewModel = new EventViewModel();

    string? errorMessage = string.Empty;

    private async Task CreateEvent()
    {
        errorMessage = CreateEventService.ValidateEvent(_eventViewModel);
        if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            return;
        }

        // Save Event
        await CreateEventService.CreateEvent(_eventViewModel);

        NavigationManager.NavigateTo("/");

    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        try
        {
            _eventViewModel.CoverImage = e.File;

            if (_eventViewModel.CoverImage == null)
            {
                errorMessage = "No cover image selected";
                return;
            }


            // generate a unique file name
            var fileName = Guid.NewGuid().ToString() + Path.GetExtension(_eventViewModel.CoverImage.Name);
            var filePath = Path.Combine("wwwroot", "images", "events", fileName);

            // Resize the image
            using var stream = _eventViewModel.CoverImage.OpenReadStream();
            using var image = await SixLabors.ImageSharp.Image.LoadAsync(stream);
            image.Mutate(x => x.Resize(300, 169));

            // Save Image
            using var fileStream = new FileStream(filePath, FileMode.Create);
            await image.SaveAsync(fileStream, new SixLabors.ImageSharp.Formats.Png.PngEncoder());

            // Save Image url
            _eventViewModel.ImageUrl = $"/images/events/{fileName}";
        }
        catch (Exception ex)
        {
            errorMessage = $"Error uploading image: {ex.Message}";
        }
    }
}
