@page "/events/create"

@inject NavigationManager NavigationManager
@inject CreateEventService CreateEventService

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @errorMessage
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h3>Create Event</h3>

<EditForm Model="_eventViewModel" OnValidSubmit="CreateEvent">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="Title">Title</label>
        <InputText id="Title" class="form-control" @bind-Value="_eventViewModel.Title"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Title)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Description">Description</label>
        <InputText id="Description" class="form-control" @bind-Value="_eventViewModel.Description"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Description)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="BeginDate">Begin Date</label>
        <InputDate id="BeginDate" class="form-control" @bind-Value="_eventViewModel.BeginDate"></InputDate>
        <ValidationMessage For="@(() => _eventViewModel.BeginDate)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="BeginTime">Begin Time</label>
        <input type="time" id="BeginTime" class="form-control" @bind-value="_eventViewModel.BeginTime"></input>
        <ValidationMessage For="@(() => _eventViewModel.BeginTime)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="EndDate">End Date</label>
        <InputDate id="EndDate" class="form-control" @bind-Value="_eventViewModel.EndDate"></InputDate>
        <ValidationMessage For="@(() => _eventViewModel.EndDate)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="EndTime">End Time</label>
        <input type="time" id="EndTime" class="form-control" @bind-value="_eventViewModel.EndTime"></input>
        <ValidationMessage For="@(() => _eventViewModel.EndTime)"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="Location">Venue Address</label>
        <InputText id="Location" class="form-control" @bind-Value="_eventViewModel.Location"></InputText>
        <ValidationMessage For="@(() => _eventViewModel.Location)"></ValidationMessage>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
    &nbsp;
    <NavLink class="btn btn-secondary" href="/">Cancel</NavLink>
</EditForm>

@code {
    private EventViewModel _eventViewModel = new EventViewModel();

    string? errorMessage = string.Empty;

    private async Task CreateEvent()
    {
        errorMessage = CreateEventService.ValidateEvent(_eventViewModel);
        if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            return;
        }

        // Save Event
        await CreateEventService.CreateEvent(_eventViewModel);

        NavigationManager.NavigateTo("/");

    }
}
